# Ignore VSCode settings
.vscode/settings.json

# Ignore the virtual environment
.venv
.venv/*

# Ignore Python egg-info directories
*.egg-info/


# Ignore everything in raw_signals
raw_signals/*

# But keep the folder structure
!raw_signals/bittensor/
!raw_signals/tradingview/

# Add a rule to ignore all files in bittensor and tradingview directories
raw_signals/bittensor/*
raw_signals/tradingview/*

# Ensure .gitkeep (or any placeholder) is included to keep the directory structure
!raw_signals/bittensor/.gitkeep
!raw_signals/tradingview/.gitkeep
__pycache__/
**.pyc
**/credentials.json
**/signal_weight_config.json
**/*.pyc